* {
    margin: 0;
    padding: 0;
}

.screen {
    height: 100%;
}

.leftpanels {
    width: 12%;
}

.header {
    background-color: rgb(24, 191, 135);
}

@media screen and (max-width:110px) {
    .header {
        font-size: xx-small;
        color: black;

    }

}

.menu {
    background-color: rgb(75, 75, 75);
    height: 100% !important;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

.panelbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    padding: 1rem;
    margin-top: 1rem;
    font-family: 'Slabo 27px', serif;
}

.panelbutton:hover {
    background-color: rgb(102, 102, 102);
}


.screenpanel {
    background-color: rgb(226, 226, 226);
    height: 100%;
}

.rightpanels {}

.panelman {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px hidden;
    height: 8%;
}

.leftsvg {
    display: flex;
    width: 10%;
    justify-content: space-around;
}

.rigthsvg {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}