<div class="dashboards row">
    <div class="box col-sm-3" style="border: 1px hidden; background-color: white; border-radius: 4px;">
        <div class="m">
            <h3>107,200</h3>
            <img width="32px" height="32px" src="/assets/icons/user2.png" alt="">
        </div>
        <p>Attığım mesajları okumadan atacakmış.</p>
        <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:30%"></div>
        </div>
    </div>
    <div class="box col-sm-3" style="border: 1px hidden; background-color: white; border-radius: 4px; ">
        <div class="m">
            <h3>340,220</h3>
            <img width="32px" height="32px" src="/assets/icons/view.png" alt="">
        </div>
        <p>Dönüp özür dilersem huzur bulacakmış.</p>
        <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:88%"></div>
        </div>
    </div>
    <div class="box col-sm-3" style="border: 1px hidden; background-color: white; border-radius: 4px;">
        <div class="m">
            <h3>$457,212</h3>
            <img width="32px" height="32px" src="/assets/icons/card.png" alt="">
        </div>
        <p>Harcamalar kontrol altında.</p>
        <div class="progress">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:40%">
            </div>
        </div>
    </div>
    <div class="box col-sm-3" style="border: 1px hidden; background-color: white; border-radius: 4px;">
        <div class="m">
            <h3>47,200</h3>
            <img width="32px" height="32px" src="/assets/icons/mss.png" alt="">
        </div>
        <p>Yazdığım mektupları tek tek yakacakmış.</p>
        <div class="progress">
            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:80%"></div>
        </div>
    </div>
</div>